<%- include('partials/header') %>

  <!-- Categories Container -->
  <div class="container py-4">
    <div class="bg-white shadow-sm rounded p-4">
      <h2 class="h4 font-weight-bold text-dark mb-4">Article Categories</h2>
      <div class="row">
        <% categories.forEach(category => { %>
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/category/<%= category %>" class="text-primary text-decoration-none"><%= category %></a>
                </h5>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>


<%- include('partials/footer') %>
