table:not([class]) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16pt;
    margin-bottom: 16pt;
    border-collapse: collapse;
    width: 85%;
}

table:not([class]),
table:not([class]) th,
table:not([class]) td {
    border: 1px solid black;
}

table:not([class]) th,
table:not([class]) td {
    padding: 8px;
    text-align: left;
}

img:not([class]) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16pt;
    max-width: 100%;
}

p:not([class]) {
    text-align: justify;
}

.article-card {
    transition:
        transform 0.3s,
        box-shadow 0.3s;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
